:root{
  --white: #f2f2f2;
  --black: #1d1d1d;
  --green-light: #00FF75;
  --green-brand: #43AB6C;
  --green-dark: #267079;
}


/*Typography*/

.title, .subtitle{
  font-family: "Montserrat", sans-serif;
}

.title{
font-size: 56px;
text-align: center;
font-style: normal;
font-weight: 800;
line-height: 90%; /* 165.6px */
letter-spacing: -4px;
text-transform: capitalize;
}

.subtitle{
  font-size: 20px;
  letter-spacing: -1px;
  text-align: center;
}

.p{
  text-align: center;
}

.form-check-label{
  font-size: 12px;
}

.title, .subtitle, .p, .form-label, .form-check-label{
  color: var(--white);
}

/*----*/

.logo {
  max-width: 250px;
}

.form-img{
  object-fit: cover;
}

.wrapper{
  max-width: 1200px;
  background-color: #267079;
  border-radius: 10px;
  overflow: hidden;
}

.btn-primary{
  font-weight: 700 ;
  background: var(--green-light);
  color: var(--black);
  border: solid 2px var(--green-light);
}

.btn-primary:hover{
  border: solid 2px var(--white);
  color: var(--white);
  background: var(--green-brand);
}

@media (max-width: 600px) {
  .logo {
    max-width: 200px;
  }
}